

main {

    padding: 120px 0;
}



h1 {
    font-size: 16px;
    font-weight: 300;
    color: #708090;
    margin: 36px 0;
}


.deco-heading {
    display: flex;
    align-items: center;
    margin: 200px 3% 60px;
}

.major {
    margin-top: 40px;
}

.deco-heading h2 {
    font-family: Akrobat;
    font-weight: 400;
    margin: 0 20px;
    color: white;
    font-size: 32px;
}

.deco {
    flex-grow: 1;
    height: 0px;
    border-top: 1px solid #4682b4;
}



.archive {
    margin-left: 90px;
    margin-right: 90px;
}


.bubble-title {
    color: white;
    font-family: Akrobat;
    font-weight: 400;
    font-size: 22px;
    width: 220px;
    padding: 30px;
    margin: 0 auto;
    margin-bottom: 15px;
    border-radius: 20px;
}

#book-one h3 {
    background: 
    linear-gradient(
        rgba(0,0,0,0.25), 
        rgba(0,0,0,0.25)),
    url('../images/B1_banner.png');
    background-position: center 20%;
    background-size: cover;
    background-repeat: no-repeat;
}

#pilot h3 {
    background: 
    linear-gradient(
        rgba(0,0,0,0.25), 
        rgba(0,0,0,0.25)),
    url('../images/B1_banner.png');
    background-position: center 20%;
    background-size: cover;
    background-repeat: no-repeat;
}


#pilot-old h3 {
    background: 
    linear-gradient(
        rgba(0,0,0,0.25), 
        rgba(0,0,0,0.25)),
    url('../images/B1_banner.png');
    background-position: center 20%;
    background-size: cover;
    background-repeat: no-repeat;
}

.chapter h4 {
    color: white;
    font-size: 18px;
    font-weight: 300;
    margin-top: 40px;
    margin-bottom: 15px;
}

.links {
    margin-bottom: 8px;
}

.links a {
    font-family: Akrobat;
    font-weight: 300;
    font-size: 20px;
    color: #9aa0a7;
    text-decoration: none;
    padding: 2px 5px 1px;
    margin: 0 3px;
    border-radius: 5px;
    border: 1px solid transparent;
}

.links a:hover, .offshoot a:hover {
    color: #ffa825;
    border-color: #ffa825;
}



.side-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 60px;
}


.side-flex p {
    color: white;
    font-family: Akrobat;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 15px;
}


.mini-comics {
    margin-bottom: 80px;
}


.offshoot {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 60px;
}

.offshoot a {
    border: 1px solid #2f383f;
    text-decoration: none;
    color: white;
    font-size: 22px;
    padding: 30px;
    width: 220px;
    border-radius: 15px;
}

.offshoot span {
    position: relative;
    top: 60px;
    font-family: Akrobat;
    font-weight: 300;
    font-size: 18px;
}


#dropoflight {
    background-image: url('../../mini-comics/images/A\ Drop\ of\ Light.png');
    background-position: center 52%;
    background-size: cover;
}

#hidenseek {
    background-image: url('../../mini-comics/images/Hide\ n\ Seek.png');
    background-position: center 45%;
    background-size: cover;
}













/* ----------- RESPONSIVE STYLING --------------- */
/* ---------------------------------------------- */



 
/* ---- Responsive Styles Tablet And Below ---- */
@media all and (max-width: 980px) {


    .deco-heading h2 {
        font-size: 30px;
    }


    .archive {
        margin-right: 50px;
        margin-left: 50px;
    }


    .bubble-title {
        padding: 20px 30px;
    }


}









/*** Responsive Styles Smartphone Only ***/
@media all and (max-width: 767px) {
    

    .nav-menu {
        top: 62px;
    } 

    .deco-heading h2 {
        font-size: 26px;
    }

    .bubble-title, .offshoot span {
        font-size: 18px;
    }

    .chapter h4, .side-flex p {
        font-size: 16px;
    }

    .archive {
        margin-right: 30px;
        margin-left: 30px;
    }

}
 







/*** Responsive Styles Narrowing Footer ***/
@media all and (max-width: 650px) {

    .deco-heading h2 {
        font-size: 24px;
    }

    .archive {
        margin-right: 20px;
        margin-left: 20px;
    }



}









/*** Responsive Styles Smartphone Portrait ***/
@media all and (max-width: 479px) {



}







/*** Responsive Styles Smartphone Portrait ***/
@media all and (max-width: 380px) {



 
}




























